<h1>Friends and Family</h1>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Date of Birth</th>
		<th>Phone Number</th>
		<th>Edit Friend</th>
		<th>Delete Friend</th>
	</tr>
	</thead>

<tbody>
<% @friend.each do |friend| %>
	<tr>
		<td><%= friend.friend_name %></td>
		<td><%= friend.friend_birthday %></td>
		<td><%= friend.friend_phone %></td>
		<td><%= link_to "Edit", edit_friend_path(friend)%></td>
	</tr>
<% end %>
</tbody>

</table>