<div class = "container">
<h1>Add Another Friend or Family Member</h1>
<p>Fill in the name, phone number, and birthdate of additional friends and family you want to add.</p>
</div>

<div class = "container">
<%= render 'form' %>
</div>