
<div class = "container">
	<div class="jumbotron">
        <h1>N'Oubliez Pas</h1>
        <p class="lead">Helping you maintain your friendships since late on Sunday night when this app was completed.</p>
        <a class="btn btn-large btn-success" href="/users/auth/facebook">Log-In With Facebook </a>
      </div>
</div>