<%= render '/shared/nav' %>

<h1>N'Oubliez Pas</h1>
<p> Helping you maintain your friendships since late on Sunday night when this app was completed</p>

<% if !user_signed_in? %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> 
<% else %>
yay 

<% end %>
