<div class = "container">
	<div class="jumbotron">
        <h1>N'Oubliez Pas</h1>
        <p class="lead">Helping you strengthen your relationships by reminding you of important birthdays. </p>

        <p><em>Because a one-line Facebook post sometimes just doesn't cut it.</p></em>
        <a class="btn btn-large btn-success" href="/users/auth/facebook">Log-In With Facebook </a>
      </div>
</div>